:root{
    --background:#1f2336;
    --box-background: #313852;
    --secondary: #f1f1f1;
    --primary: #f4bd50;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    background-color: var(--background);
    justify-content: center;
    align-items: center;
}
/* poner un borde al cuadrado */
.box{
    background-color: var(--box-background);
    padding: 24px;
    max-width: fit-content;
    width: 100%;
    padding-top: 12px;
    border-radius: 16px;
}
/* nose */
.box h2{
    margin: 0px;
    font-weight: 400;
    font-size: 1.5rem;
    color: red;
}
.input_wrapper{
    position: relative;
    padding: 15px 0 0;
}
/* define el fondo del cuadrado */
.input_field{
    outline: 1.5px solid var(--secondary);
    font-size: 1rem;
    border-radius: 8px;
    color: var(--secondary);
    padding: 8px;
    border: none;
    padding-right: 32px;
    background: transparent;
    transition: all 0.2s;
}
.input_field::placeholder{
    color: transparent;
}
